* {
  background-color: green;  
  color: aquamarine;
  background-color: blanchedalmond;
  display: flex;
  justify-self: auto;
  background-color: green;  
  color: aquamarine;
  background-color: blanchedalmond;
  display: flex;
  justify-self: auto;
}